.box{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

button{
    padding: 10px 15px;
    margin: 100px;
    border: 1px dotted red ;
    border-radius: 80px;
}

.box-1{
    width: 200px;
    height: 200px;
    background-color: rgb(182, 134, 13);
    margin-bottom: 10px;
}

.box-2{
    width: 200px;
    height: 200px;
    background-color: rgb(88, 11, 151);
}